This domain <strong>144507</strong> is PIN Code of my place in India; &amp; is in use for personal email, homepage, &amp; <a id="labLink" href="https://apps.bydav.in" title="My Apps">my web apps</a>.
<style>
#labLink{
  text-decoration:none;
  color:#222;
}
#labLink:focus, #labLink:hover{
 text-decoration:underline;
}
</style>