<!--jagatstudio.com-->
<style>
  .icon{
    vertical-align: bottom;
    height:20px;
  }
  a{
    color:#222;
    text-decoration:none;
    font: 20px Georgia, serif;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 3px;
    border: 0px red solid;
  }
  a:hover{
    background:lightgrey;
    border-radius:5px;
  }
</style>
<div>
  <a href="mailto:ravi@jagatstudio.com">
    <img src="https://cdn.bydav.in/other/icons/envelop.png" class="icon">
    ravi@jagatstudio.com
  </a>
  <a href="https://wa.me/919872753320">
    <img src="https://cdn.bydav.in/other/icons/whatsapp.png" class="icon">
    Whatsapp
  </a>
  <a href="#">
    <img src="https://cdn.bydav.in/other/icons/location.png" class="icon">
    Main Bazar, Apra, PB
  </a>
  <a href="https://goo.gl/maps/pHqc6mi95nyBotHj8">
    <img src="https://cdn.bydav.in/other/icons/compass.png" class="icon">
    Google Maps
  </a>
</div>